{% include 'base.html' %}
{% include 'navigation.html' %}

{% block content%}
<div class="container">
    <h1>About US</h1>
    
    <div class="col-md-6">
        <h1 class="strong">Who we are and <br> What we do</h1>
        <p class="lead">This is the world's largest leading portal for <br> easy and quick</p>
    </div>
    <div class="col-md-6">
        <p>  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate exercitationem cumque magni. Quam eum molestiae perspiciatis rerum pariatur itaque, quod laudantium. Temporibus ex nulla iure distinctio consequuntur rerum, dolorum rem.</p>
        <p>  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate exercitationem cumque magni. Quam eum molestiae perspiciatis rerum pariatur itaque, quod laudantium. Temporibus ex nulla iure distinctio consequuntur rerum, dolorum rem.</p>
    </div>
</div>
{% endblock content%}

