{% include 'base.html' %}
{% load static %}
{% include 'navigation.html' %}



{% block content %}

<div class="text-bg-info p-3">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="text-left" id="intro-text">
            <h1 class="text-align-left">
                <h1 class="text-center">Welcome to Admin portal of Sunderlal Hospital</h1>
            </h1>
            <p class="text-justify">
            <h5>Delete , modify or add details of patients and doctors on this portal.</h5>
            </p>
        </div>
        <div class="col-md-4">
            <div class="container-fluid">
                <br>
                <button class="btn btn-lg btn-block"><a href="#about" class="nav-link"><i
                            class="fa fa-calendar-minus-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;Request
                        Appointments</a></button>
                <br>
                <button class="btn btn-lg btn-block"><a href="#doctors" class="nav-link"><i
                            class="fa fa-user-md"></i>&nbsp;&nbsp;&nbsp;&nbsp;Find
                        Doctors</a></button>
                <br>
                <button class="btn btn-lg btn-block"><a href="#about" class="nav-link"><i
                            class="fa fa-map-marker"></i>&nbsp;&nbsp;&nbsp;&nbsp;Location</a></button>
                <br>
                <button class="btn btn-lg btn-block"><a href="#about" class="nav-link"><i
                            class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;Emergency
                        Contact</a></button>
            </div>
        </div>
    </div>
</div>


<div>
    <h1 class="text-center text-primary">Our Team of Experts</h1>

</div>


<div class="container-fluid" id="doctors">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center text-primary">Meet Our Team</h4>
            <h1 class="text-center">Specialist Doctors</h1>
        </div>
    </div>


    <div class="row owl-carousel owl-theme">
        <div class="card shadow text-center items">
            <div >
                <img class="img-thumbnail rounded-circle border-0" src="{% static 'Images/oip2.png' %}"  style="height: 30px; width: 50px;">
                <h4 class="card-title" style="font-size: 18px;">Dr. Abhay Saxena</h4>
                <h6 class="card-subtitle">Senior Consultant Surgeon</h6>
                <p class="card-text">MBBS, MS(TU), FMAS, DMAS (WLH)</p>
                <a href="#" class="card-link"><i class="fa fa-facebook"></i></a>
                <a href="#" class="card-link"><i class="fa fa-instagram"></i></a>
                <a href="#" class="card-link"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
        <div class="card shadow text-center items">
            <div class="card-body profile-card">
                <img class="img-thumbnail rounded-circle border-0" src="{% static 'Images/oip2.png' %}"  style="height: 30px; width: 50px;">
                <h4 class="card-title" style="font-size: 18px;">Dr. Abhay Singh</h4>
                <h6 class="card-subtitle">Gynecologist And Obstetrician</h6>
                <p class="card-text">MBBS, MD (NMC)</p>
                <a href="#" class="card-link"><i class="fa fa-facebook"></i></a>
                <a href="#" class="card-link"><i class="fa fa-instagram"></i></a>
                <a href="#" class="card-link"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
        <div class="card shadow text-center items">
            <div class="card-body profile-card">
                <img class="img-thumbnail rounded-circle border-0" src="{% static 'Images/oip2.png' %}"  style="height: 30px; width: 50px;">
                <h4 class="card-title" style="font-size: 18px;">Dr. Thomas Shelby</h4>
                <h6 class="card-subtitle">Orthopedic Surgeon</h6>
                <p class="card-text">MBBS, MS Orthopedic </p>
                <a href="#" class="card-link"><i class="fa fa-facebook"></i></a>
                <a href="#" class="card-link"><i class="fa fa-instagram"></i></a>
                <a href="#" class="card-link"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>

        <div class="card shadow text-center items">
            <div class="card-body profile-card">
                <img class="img-thumbnail rounded-circle border-0" src="{% static 'Images/oip2.png' %}"  style="height: 30px; width: 50px;">
                <h4 class="card-title" style="font-size: 18px;">Dr. Sins </h4>
                <h6 class="card-subtitle">Consultant Physician</h6>
                <p class="card-text">MBBS, MD (Internal Medicine)</p>
                <a href="#" class="card-link"><i class="fa fa-facebook"></i></a>
                <a href="#" class="card-link"><i class="fa fa-instagram"></i></a>
                <a href="#" class="card-link"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>

        
    </div>
</div>
</div>
{% endblock content %}
{% include 'footer.html' %}

